:root {
    --blue-color: #0075ff;
    --blue-alt-color: #0d69d5;
    --orange-color: #f59e0b;
    --green-color: #22c55e;
    --red-color: #f44336;
    --grey-color: #888;
}
* {
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    outline: none;
}
body {
    font-family: "Open Sans", sans-serif;
    margin: 0;
}
a {
    text-decoration: none;
}
.plans {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    gap: 30px 0px;
}
.plans .plan {
    width: calc((100% - 30px) / 2);
    padding: 10px;
}
@media (min-width:0px) and (max-width:1075px) {
    .plans .plan {
        width: 100%;
    }
}
.plans .plan .pl-name-price {
    border: 2px solid var(--green-color);
    padding: 5px;
    text-align: center;
    margin-bottom: 20px;
}
.plans .plan .pl-name-price div {
    background-color: var(--green-color);
    padding: 15px;
    color: white;
}
.plans .plan .pl-name-price h2 {
    margin-top: 0px;
}
.plans .plan .pl-name-price h1 {
    margin-bottom: 0px;
}
.plans .plan .features .feature {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ccc;
    font-size: 14px;
}
.plans .plan .features .feature div > i {
    margin-right: 10px;
    color: var(--green-color);
}
.plans .plan .features .feature div > .xmark {
    color: var(--red-color);
}
.plans .plan .join {
    margin-top: 10px;
    padding: 5px 10px;
    background-color: var(--green-color);
    display: inline-block;
    border-radius: 10px;
    color: white;
    cursor: pointer;
}